.nosotros{
    color:ORANGE;
    font-size: 50px;
    font-family: "arial";
    width: 100%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align-all: center;

}
.flex-container{
    margin-top: 60px;
    display: flex;
}
.flex-item{
    padding: 5px;
    margin: 25px;
    font-size: 20px;
    text-align: -webkit-center;
}
.abajo{
    width: 875px;
    align-content: center;
}
.nosotros{
    width: 500px;
    align-content: center;
}
.t1{
    color: orangered;
}
.t2{
    color: orangered;
}
.t3{
    color: orangered;
}
.centrar {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px 20px;
    background-color: gold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}