<div class="container col-xxl-8 px-4 py-5">
  <h1  class="nosotros"> <b> SOBRE NOSOTROS </b></h1>
  <img class="abajo" src="assets/abajo.png" alt="abajo">
  <div class="flex-container">
    <div class="flex-item">
      <h2 class="t1">Estrategia Integral</h2>
      Nos definimos como una agencia integral que abarca y fusiona diversas disciplinas
      para ofrecer soluciones excepcionales en el mundo digital.
    </div>
    <div class="flex-item">
      <h2 class="t2">Optimización Continua</h2>
      La capacidad de almacenar datos y transformar un producto en base a esto es primordial en el marketing digital.
      Estamos en continuo cambio técnologico y avanzamos conforme a las necesidades del cliente y porsupuesto con el
      mundo actual.
    </div>
    <div class="flex-item">
      <h2 class="t3">Creatividad y Calidad</h2>
      En nuestros proyectos abarcamos siempre la creatividad y el trabajo en equipo.
      Nos orgullece compartir nuestra historia para dar a conocer cueales son los ideales del equipo y los propositos por cumplir.
    </div>
      <p></p>
      <div class="centrar">
        <button (click)="abrirVentanaEmergencia()">DESCUBRE MÁS</button>
    </div>
</div>
</div>
