<div class="container mt-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Nuestros <span [ngStyle]="{'color': 'blue'}">servicios</span></h1>
            <p class="lead">
                Podemos ayudarte planificando tu estrategia de marketing digital.
                Nuestro toque <span [ngStyle]="{'font-weight': 'bold', 'color': 'orangered'}">caribeño</span> conseguirá que todas las miradas se dirijan a ti.
            </p>
        </div>
    </div>
</div>

<!-- Acordeón -->
<div class="container col-lg-8 mx-auto mt-4">
    <div class="accordion" id="servicesAccordion">

        <app-accordion-item *ngFor="let service of services"
                            [title]="service.title"
                            [imageSrc]="service.imageSrc"
                            [imageAlt]="service.imageAlt"
                            [description]="service.description"
                            [uniqueId]="service.uniqueId"
        ></app-accordion-item>

    </div>
</div>


<!-- Carrusel de Bootstrap -->
<div class="container mt-5">
    <h3 class="pb-2 border-bottom mb-4">Esto piensan nuestros clientes de  <span [ngStyle]="{'color': 'blue'}">nuestro trabajo</span>:</h3>
    <div class="row justify-content-center">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div id="carouselTestimonios" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let carousel of carousels; let i = index"
                                [class.active]="i === currentSlideIndex" style="transition: transform 1s ease-in;">
                                <img src="{{ carousel.imagePath }}" class="d-block w-100 img-fluid" [alt]="carousel.altText">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ carousel.title }}</h3>
                                    <h5>{{ carousel.description }}</h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonios"
                            data-bs-slide="prev" (click)="loadPreviousSlide()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonios"
                            data-bs-slide="next" (click)="loadNextSlide()">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>