<!-- Cabecera -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../assets/example.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Lorem ipsum <span style="color:blue">UNIR</span></h1>
        <p class="lead">Lorem ipsum</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Lorem</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ipsum!</button>
        </div>
      </div>
    </div>
  </div>

<!-- Lista de cards-->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row">
        <app-card class="col-lg-4"  Title="Título 1" Description="Descripción 1" imagePath="../../assets/example.png"></app-card>
        <app-card class="col-lg-4"  Title="Título 2" Description="Descripción 2" imagePath="../../assets/example.png"></app-card>
        <app-card class="col-lg-4"  Title="Título 3" Description="Descripción 3" imagePath="../../assets/example.png"></app-card>
    </div>
</div>

